@media screen and (min-width:1100px) {
    .container {
        display: flex;        
        flex-wrap: wrap;
        max-width: 100%;
        height: 500px;
        width: 400px;
        flex-flow:  wrap;
    
    }

    .another {
        max-width: 200px;
    }

    div.example {         
        background-color: aqua;
        display: flex;
        height: 600px;
        justify-content: center;
        max-width: 100px;        
        text-align: center; 
                
    }

    p {
        align-self: center;
    }
    div.example:nth-of-type(1) {
        order: 2;
    }
   
}


